<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="">

</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Homepage</a>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a class="nav-link" href="{% url 'admin:index' %}" >ADMIN</a>
        {% endif %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_app:upload' pk=user.pk %}">Upload files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_app:product_list' %}">Product list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout" href="{% url 'logout' %}">Logout</a>
            </li>
            <span class="navbar-text">
                <h5>{{ request.user.email }}</h5>
            </span>
        </ul>
    {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'signup' %}">signup</a>
            </li>
            <span class="navbar-text">
                No logeado
            </span>
        </ul>

    {% endif %}

  </nav>
</div>
{% block bodyblock %}

{% endblock %}
<div class="modal"></div>
</body>
</html>
