{% extends 'toy_app/base.html' %}

<script>
    {% block jquery %}
        alert("hola");
        var endpoint = {% url "api-data" %}
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                console.log(data)
                console.log(data)
            },
            error: function (error_data) {
                console.log("Error")
                console.log(error_data)
                console.log("adsasdasdasdasd")
            }
        })
    {% endblock %}
</script>

{% block bodyblock %}
    <div class="container">
    <div class="col-sm-12 url-endpoint= '{% url "api-data" %}'>
         <h1>Hola mundo</h1>
        <canvas id="myChart" width="400" height="400"></canvas>

    </div>
    </div>

{% endblock %}

