{% extends 'toy_app/base.html' %}

{% block title %}Login{% endblock %}

{% block bodyblock %}
    <div class="jumbotron container">
        <h1>Index</h1>
        <form >
            <input type="button" class="btn-btn-primary" name="boton" value="Click on me">
        </form>
    </div>
{% endblock %}