{% extends "toy_app/base.html" %}

{% block bodyblock %}

    <div class="container">
        <h1>Lista de productos</h1>
        <ol>
        {% for product in product_list %}
            {% if product.owner == user %}
                <h2><li><a href="{{ product.id }}">{{ product.material }}</a></li></h2>
            {% endif %}
        {% endfor %}
        </ol>
        <a class="button" href="{% url 'my_app:imprimir' %}"> leer archivo. </a>
        <a class="button" href="{% url 'my_app:dma' %}"> calcular media movil doble </a>
    </div>

        


{% endblock %}