{% extends 'toy_app/base.html' %}

{% block bodyblock %}
    <div class="jumbotron container">
        <h1>Product detail view</h1>
        <p>{{ product_detail.oficina }}</p>
        <p>{{ product_detail.texto_breve_material }}</p>
        <p>{{ product_detail.material }}</p>
        <p>{{ product_detail.tipo_de_producto }}</p>
        <p>{{ product_detail.demanda_dma }}</p>






    </div>

{% endblock %}