{% extends 'toy_app/base.html' %}

{% block bodyblock %}
    <div class="container">
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}

            <input type="text" placeholder="Nombre" name="first_name"
                   {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}>

            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}

            <br>
            <br>

            <input type="text" placeholder="Apellido" name="last_name"
                   {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}>

            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}

            <br>
            <br>

            <input type="text" placeholder="Email" name="email" autocomplete="off"
                   {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}

            <br>
            <br>

            <input type="password" placeholder="Contraseña" name="password1">

            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endif %}

            <br>
            <br>

            <input type="password" placeholder="Confirmar contraseña" name="password2">

            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <div class="form-control-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}

            <br><br>

            <button type="submit">
                Registrarse
            </button>

        </form>
    </div>
{% endblock %}
